.tgLineChart-control {
	margin: 20px 0 0 0;
	height: 47px;
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid #dfe1e3;
	border-radius: 24px;
	padding: 8px 12px;
	font-size: 18px;
	user-select: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.tgLineChart-control:first-of-type {
	margin-left: 20px;
}

.tgLineChart-control span {
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}

.tgLineChart-control:not(:last-of-type) {
	margin-right: 10px;
}

.tgLineChart-checkmark-icon {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	width: 28px;
	height: 28px;
	border-style: solid;
	box-sizing: border-box;
	transition: 200ms border ease-out;
	border-width: 2px;
	transform-origin: center;
}

.tgLineChart-checkmark-icon:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 5px;
	height: 10px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	top: calc(50% - 1px);
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.tgLineChart-control input[type=checkbox] {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}

.tgLineChart-control input[type=checkbox]:checked ~ .tgLineChart-checkmark-icon  {
	border-width: 14px;
}
