.line-chart-container {
	overflow: hidden;
}

.preview-container {
	position: relative;
}

.preview-control {
	will-change: transform;
	cursor: grab;
	top: 0;
	left: 0;
	position: absolute;
	border-color: rgba(0,0,0, 0.14);
	border-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	box-sizing: border-box;
}

.preview-control:active {
	cursor: grabbing;
}
