body {
	margin: 0;
	font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: scroll;
	overflow-y: overlay;
}

body.dark {
	color: #fff;
	background-color: #242F3E;
}


body::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.12);
	border: 4px solid transparent;
	background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.36);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.36);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}


body.dark::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 12);
	border: 4px solid transparent;
}

body.dark::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.36);
}

body.dark::-webkit-scrollbar-thumb:active {
	background-color: rgba(255, 255, 255, 0.36);
}


.header {
	margin-left: 20px;
}

#select {
	margin: 24px 0 0 20px;
	width: 44px;
	height: 24px;
}

.mode-btn {
	display: block;
	margin: 24px auto 0 auto;
	text-align: center;
	padding: 5px;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	color: #57AAE9;
}
